body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
}

td {
  padding: 10px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.word-container {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  font-weight: bold;
  background: #f0f0f0;
  /*padding: 3%;*/
}

.button-container {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  gap: 10px;
  /*padding: 1%;*/
}

.video-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background:#ddd;
  /*gap: 8px;*/  
}

.video-container video {
  margin-bottom: 6px; /* small gap between video and controls */
}

.video-controls {
  display: flex;
  /*gap: 6px;*/
  align-items: center;
}

#quizVideo {
  visibility: hidden; /* invisible but space stays */
  max-width: 100%;   /* don’t overflow horizontally */
  max-height: 100%;  /* don’t overflow vertically */
  margin: 0;         /* remove default margins */
  padding: 0;        /* remove default padding */
  /*display: block;    /* remove inline spacing below video */
}

#resultsContainer {
  width: 100%;
  border-collapse: collapse;
  text-align: center;    /* horizontal alignment */
}

#resultsContainer th,
#resultsContainer td {
  vertical-align: top;   /* vertical alignment */
}